.jumbotron {
    background-color: rgb(39, 44, 49);
    color: white;
    margin-top: 55px;
    border-radius: 0;
}
.jumbotron hr{
    border-top: 0.5px solid #fff;
}
.fondo {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
}

.fondo-negro{
    background-color: rgba(0, 0, 0, 0.4);
}

.footer {
    padding: 10px;
    background-color: rgb(39, 44, 49);
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 220px;
}

.btn {
    border-radius: 0px;
}
.card {
    margin: 5px;
}

footer .oi-home,
footer .oi-phone,
footer .oi-inbox {
    padding-right: 10px;
}
